#banner img{ 
	margin:0px;
}  
#nav>ul{
	list-style-type:none;
	margin-left:-40px;
}
#nav>ul>li{
	width:120px;
	height:26px;
	line-height:26px;
	text-align:center;
	color:#eee;
	float:left;	
}
#nav>ul>li.c{
	width:3px;
}
#nav>ul>li>a{
    font-size:14px;
    font-weight:bold;
    color:#eee;
}
#nav>ul>li>a:link,#nav>ul>li>a:visited{
	color:#eee;
	text-decoration:none;
}
#nav>ul>li>a:hover{
	color:#f00;
	text-decoration:underline;
}
#left>h3,#right>h3{
	font-size:12px;
	width:200px;
	height:20px;
	color:#eee;
	line-height:20px;
	text-align:center;
	background:#0a3400;
}
#left>img{
	width:180px;
	margin:6px;
}
#left p{
	font-size:14px;
	background-color:rgba(255,255,255,0.5);
	line-height:22px;
	margin:4px;
}
#right img{
	width:180px;
	height:100px;
	margin-left:10px;
	margin-top:6px;
}
#right span{
    display:block;
    font-size:14px;
    color:#eee;
    text-align:center;
    margin:4px 0;
}
#right>p{
	overflow:auto;
	height:180px;
}
#right>p>a{	
	font-size:12px;
	text-decoration:none;
}
#right>p>a:link,#right>p>a:visited{
	color:#eee;
}
#right>p>a:hover{
	color:#ff0;
}
#main h3{
	font-size:14px;
	margin:4px 6px 10px;
	background-color:#fd9a00;
	background-image:url("img/an3.jpg");
	background-repeat:no-repeat;
	background-position:right center;
}
#main img{
	vertical-align:middle;
	margin-left:4px;
	margin-right:4px;
}
#main>ul>li{
	font-size:14px;
}
#footer{
	font-size:14px;
	text-align:center;
	line-height:30px;
}